.content-wrapper{
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #fff;
    left: 300px;
    padding: 20px;
    overflow-x: scroll;
  }
  .container{
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .submit
  {
      background-color: #D4401F;
      color: white;
      border-radius: 10px;
      border: none;
      height: 5vh;
      width: 7vw;
  }
  .choice{
    border: 1px solid #94685e ;
    margin-bottom: 3%;
    padding: 2%;
  }
  .accordion{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }

  