.content-wrapper{
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #fff;
    left: 300px;
    padding: 20px;
    overflow-y: scroll;
  }
  .icons button
{
    margin-left: 3%;
}