<ng-container *ngIf="tailles" >
    <div class="taille d-flex">
        <h4 class="type" style="color: #D4401F;">{{tailles.taille?.libelle}}({{tailles.quantite*btnQte}})</h4> 
        <div class="boissons d-flex mb-5">
            <ng-container *ngFor="let boisson of tailles?.taille?.boissonTailles">
                {{boisson?.id}}
                <mtm-boissons  (juiceChanged)="validQte($event)" (juiceChanged)="valid(boisson?.id,boisson?.stock,tailles.taille?.id,tailles.quantite*btnQte)" [boisson]="boisson"></mtm-boissons>
            </ng-container>
        </div>
    </div>  
</ng-container>
<ng-container *ngIf="otherTaille" >
    <div class="taille d-flex">
        <h4 class="type" style="color: #D4401F;">{{otherTaille.libelle}}</h4>
        <div class="boissons d-flex mb-5">
            <ng-container *ngFor="let otherBoisson of otherTaille?.boissonTailles">
                <mtm-boissons  (juiceChanged)="validQte1($event)" (juiceChanged)="valid1(otherBoisson?.boisson?.nom,otherBoisson?.id,otherTaille.id,otherTaille.libelle,otherTaille.prix)" [otherBoisson]="otherBoisson"></mtm-boissons>
            </ng-container>
        </div>
    </div>
</ng-container>
