<!-- <footer class="footer-distributed">
  <div class="footer-left">
    <h3>
      <span
        ><img
          class="rounded-circle"
          src="assets/images/bb.png"
          widht="100"
          height="100"
          alt="..."
      /></span>
    </h3>

   <div class="info">
    <h5>77 182 72 86</h5>
    <h5>Sicap Liberte 2</h5>
   </div>

    <p class="footer-company-name">Brazil Burger © 2022</p>

    <div class="footer-icons">
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>
  </div>

  <div class="footer-right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.981036868436!2d-17.465772621422428!3d14.713664206883578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172b97b411515%3A0x6a06eea1b4e78eee!2sTerrain%20basket%20Liberte%202%2C%20Dakar!5e0!3m2!1sfr!2ssn!4v1658601598875!5m2!1sfr!2ssn" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</footer>
 -->

 <footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Localisation</h4>
                          <span> Brasil Burger 5b, Av. Birago Diop Dakar, Sénégal </span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Telephone</h4>
                          <span>+221 77 182 72 86</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Email</h4>
                          <span>brazilburger@brazilb.com</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.981036868436!2d-17.465772621422428!3d14.713664206883578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec172b97b411515%3A0x6a06eea1b4e78eee!2sTerrain%20basket%20Liberte%202%2C%20Dakar!5e0!3m2!1sfr!2ssn!4v1658601598875!5m2!1sfr!2ssn" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</footer>