<mtm-header-admin></mtm-header-admin>
<ng-container *ngIf="allLiv.length==0">
	<div class="content-wrapper">
		<mtm-loader-admin></mtm-loader-admin>
	</div>
 </ng-container>
<ng-container *ngIf="allLiv.length!=0">
	<div class="content-wrapper">
		{{allLiv|json}}
		<div class="container mt-5">
			<h1 class="card-title">LISTE DES LIVRAISONS</h1>
				<button type="submit" class="btn btn-c m-3">
					<a class="badge" routerLink="/admin/order/delivery-add">AJOUTER UN LIVRAISON</a>
				</button>
	
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Prenom</th>
						<th scope="col">Nom</th>
						<th scope="col">Montant Livraison</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<ng-container>
					<ng-container *ngFor="let item of allLiv">
						<tr>
							<td>{{item.livreur.prenom|uppercase}}</td>
							<td>{{item.livreur.nom|uppercase}}</td>
							<td>{{item.montantTotal}}</td>
							<td>
								<div class="text-right d-flex icons">
									<button
									  data-toggle="tooltip"
									  data-placement="bottom"
									  title="Validée"
									  class="btn btn-white border-secondary bg-success btn-md mb-2"
									>
									  <i class="bi bi-cart-plus-fill"></i>
									</button>
									<button
									  data-toggle="tooltip"
									  data-placement="bottom"
									  title="Archiver"
									  class="btn btn-white border-secondary bg-danger btn-md mb-2"
									>
									  <i class="bi bi-cart-x-fill"></i>
									</button>
									<a routerLink="/admin/order/delivery/{{item.id}}">
										<button
									  data-toggle="tooltip"
									  data-placement="bottom"
									  title="Details"
									  class="btn btn-white border-secondary bg-info btn-md mb-2"
									>
									  <i class="bi bi-info-circle-fill"></i>
									</button>
									</a>
								  </div>
							</td>
						</tr>
					</ng-container>
				</ng-container>
			</table>
			<div class="paginate">			
			</div>
		</div>
	</div>
</ng-container>
