.content-wrapper{
    width: calc(100% - 300px);
    height: 100%;
    position: fixed;
    background: #fff;
    left: 300px;
    padding: 20px;
  }
  .container{
    width: 70%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .accordion{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
  }
  .button
{
    background-color: #D4401F;
    color: white;
    border-radius: 10px;
    border: none;
    height:4vh;
    margin-left: 2%;
}
