<div class="dashboard-nav">
  <header>
    <a  class="brand-logo"
      ><img class="rounded-circle" src="assets/images/bb.png" width="70" height="70" alt=""> <span>Brazil Burger</span></a
    >
  </header>
  <nav class="dashboard-nav-list">
    <a href="#" class="dashboard-nav-item "
      ><i class="fas fa-tachometer-alt"></i> Dashboard </a
    ><a href="/admin/products/menu"  class="dashboard-nav-item"
      ><i class="fa-solid fa-utensils"></i>  Menus
    </a>
    <a href="#" class="dashboard-nav-item"
      ><i class="fa-solid fa-burger"></i>  Burgers
    </a>

    <a href="/admin/order/all" class="dashboard-nav-item"
    ><i class="fa-solid fa-cart-arrow-down"></i>  Commandes
  </a>
  <a href="#" class="dashboard-nav-item"
    ><i class="fa-solid fa-truck"></i>  Livraisons
  </a>
    <div  class="nav-item-divider"></div>
    <a (click)="logout()" class="dashboard-nav-item"
      ><i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </nav>
</div>
