<div class="dashboard-nav">
  <header>
    <a  class="brand-logo"
      ><img class="rounded-circle" src="assets/images/bb.png" width="70" height="70" alt=""> <span>Brazil Burger</span></a
    >
  </header>
  <nav class="dashboard-nav-list">
    <a href="#" class="dashboard-nav-item "
      ><i class="fas fa-tachometer-alt"></i> Dashboard </a
    ><a routerLink="/admin/products/menu" class="dashboard-nav-item"
      ><i class="fa-solid fa-utensils"></i> Gestions Menus
    </a>
    <a href="#" class="dashboard-nav-item"
      ><i class="fa-solid fa-burger"></i> Gestions Burgers
    </a>
    <a href="#" class="dashboard-nav-item"
      ><i class="fa-solid fa-french-fries"></i>Gestions Portions
    </a>
    <a href="#" class="dashboard-nav-item"
      ><i class="bi bi-cup-straw"></i> Gestions Boissons
    </a>
    <a href="#" class="dashboard-nav-item"
    ><i class="fa-solid fa-truck"></i> Gestions Commandes
  </a>
    <div class="nav-item-divider"></div>
    <a href="#" class="dashboard-nav-item"
      ><i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </nav>
</div>
