.image
{
    filter: brightness(50%);
    position: relative;
}
.welcome
{
    text-align: center;
    color: white;
    position: absolute;
    top: 35%;
    left: 30%;
    font-weight: bold;
    font-size: 48px;
}
.card-all
{
    width: 30%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icons a
{
    margin-left: 5%;
}



