.container
{
    width: 80%;
}

.composition, .choice
{
    width: 50%;
    border: 1px solid #D4401F;
    border-radius: 10px;
    position: relative;
    left: 25%;
}
.composition, .choice
{
  scrollbar-color: #d5ac68 #f1db9d;
   scrollbar-width: thin;
  -ms-overflow-style: none;
}
.composition
{
  overflow-x: scroll;
}
.nav-link.active
{
  background-color: #D4401f;
}
.nav-item button
{
  font-size: 20px;
}
.tab
{
  margin-left: 13%;
}

/* custom scrol */
.composition::-webkit-scrollbar {
    height: 2px;
  }
  
  .composition::-webkit-scrollbar-thumb {
    height: 5px;
    background-color: #D4401F;
  }
  
  .composition::-webkit-scrollbar-thumb:hover {
    background-color: #f3ac9c;
  }
  
  .composition::-webkit-scrollbar:vertical {
    display: none;
  }
